<div class="space-y-10 divide-y divide-gray-900/10">
  <div class="grid grid-cols-1 gap-x-8 gap-y-8 md:grid-cols-3">
    <div class="px-4 sm:px-0">
      <h2 class="text-base font-semibold leading-7 text-gray-900">Property profile</h2>
      <p class="mt-1 text-sm leading-6 text-gray-600">This information will be displayed publicly so be careful what you share.</p>
    </div>
    <%= form_with model: current_property, data: { controller: "nested-form", nested_form_wrapper_selector_value: ".nested-form-wrapper" }, class: "bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2" do |f| %>
      <template data-nested-form-target="template">
        <%= f.fields_for :rooms, Room.new, child_index: "NEW_RECORD" do |room_fields| %>
          <%= render "room_form", f: room_fields %>
        <% end %>
      </template>

      <div class="px-4 py-6 sm:p-8">
        <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="col-span-full">
            <%= f.label :name, class: "block text-sm font-medium leading-6 text-gray-900" %>
            <div class="mt-2">
              <div class="flex rounded-md shadow-sm pl-3 ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                <%= f.text_field :name, class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" %>
              </div>
            </div>
          </div>
        </div>

        <%= f.fields_for :rooms do |room_fields| %>
          <%= render "room_form", f: room_fields %>
        <% end %>
        <!-- Inserted elements will be injected before that target. -->
        <div data-nested-form-target="target"></div>
      </div>

      <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
        <button type="button" class="text-sm font-semibold leading-6 text-gray-900" id="add-room" data-action="nested-form#add">Add room</button>
        <%= f.submit "Save property", class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", id: "add-room-submit" %>
      </div>
    <% end %>
  </div>
</div>
